@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FACC15;
  --safety-black: #000000;
  --safety-yellow: #FACC15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-safety-black: var(--safety-black);
  --color-safety-yellow: var(--safety-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FACC15;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
